*{
    box-sizing:border-box;
}
header {
    background-color: white;
}
.browser {
    text-align: center;
}
h1{
    color: darkblue;
    font-size: 150%;
}
h2{
    color: black;
    font-size: 100%;
}
.section1 {
    background-color: white;
}
time {
    font-weight: bold;
}
body {
    font-family:sans-serif,Arial, Helvetica;
    font-size: 90%;
    background-color: lightgray;
}
.browser {
    background: white;
  }
table, th, td {
    border: 1px solid white;
    border-radius: 10px;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
    }
footer {
    padding: 20px;
    text-align: center;
    background-color: mediumpurple;
}
#copyright{
    font-size: 70%;
    background-color: lightgrey;
  }
.fa-solid {
    color: black;
    size: 18px;
}