---
import Layout from '../layouts/LayoutIndex.astro';
import Search from '../components/Search.astro';  

const title = "H O T E L by N A K A T A";
const description = "HOMEPAGE";

---

<Layout description={description} title={title}>

<!--Main class="background" -->
<main>
    <div class="background">
        <div class="wrap-search">
            <Search/>
        </div>
    </div>
</main>
</Layout>
