/* Links for Footer (using pseudo-class rules LVHA)*/
    footer a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Links for Footer already visited*/
  footer a:visited {
    color: #000000;
    background-color: #ddd;
    text-decoration: none;
  }
  
  /* Links for Footer when hovering over the link with mouse*/
  footer a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    font-weight:bold;
  }
  
  /* Links for Footer when selected*/
   footer a:active {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    font-weight:bold;
  }

footer {
    background-color: #81d8d0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border: #ddd;
  }
  
  #bg-foot {
    background-color: #ffffff;
    margin: 0;
    padding: 16px;
    width: 100%;
    text-align: center;
  }

  .box {
    background-color: transparent;
    flex: 1 1 auto; /*flex-grow flex-shrink flex-basis*/
  }
  
  .column-footer {
    display: inline-block;
    gap: 50px;
    width: 200px;
    font: 0.8rem "Raleway",sans-serif, Helvetica, Arial;
    overflow: hidden;
    vertical-align: text-top;
    margin: 20px 10px;
  }
  
  .column-footer h1 {
    font: 0.8rem "Raleway",sans-serif, Helvetica, Arial;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .column-footer li {
    list-style-type: none;
    text-align: left;
    text-decoration: none;
  }
  
  .column-footer a {
    display: inline-block;
    padding-bottom: 20px;
    font: 0.8rem "Raleway",sans-serif, Helvetica, Arial;
  }
  
  .form-news {
    display: grid;
    row-gap: 10px;
    text-decoration: none;
  }
  
  input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ffffff;
  }
  
  input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .button {
    background-color: transparent;
    flex: 1 1 auto; /*flex-grow flex-shrink flex-basis*/
    margin: 2px;
    padding: 5px;
    text-align: center;
  }
  
  .button:hover {
    color: 0 0 5px transparent;
    box-shadow:
    5px 5px 0 #81d8d0; /* 1-X-coordinate 2-Y-coordinate 3-Blur Radius 4-Shadow Color*/
  }
  
  .button:active {
    color: 0 0 5px transparent;
    box-shadow: inset,
    5px 5px 0 #ddd; /* 1-X-coordinate 2-Y-coordinate 3-Blur Radius 4-Shadow Color*/
  }
  
  .copyright {
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
  }