@import url("reset.css"); @import url("typography.css"); @import url("layout.css"); 
/* @import url("ie.css")*/
body, a {
    font: 14px "Raleway",sans-serif, Helvetica, Arial;
    background-color: white;
}

/* Paragraph spacing*/
p {
  line-height: 2rem; 
}

/* Title by default*/
h1{
  font-family: "Della Respira", sans-serif, Helvetica, Arial;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

h2, h3, h4, h5 {
    font-family: "Della Respira", sans-serif, Helvetica, Arial;
    font-size: 1.0rem;
    padding-bottom: 10px;
}

/* Links by default (using pseudo-class rules LVHA)*/
a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

/* Links by default already visited*/
a:visited {
  color: #000000;
  background-color: #ddd;
  text-decoration: none;
}

/* Links by default when hovering over the link with mouse*/
a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
  font-weight:bold;
}

/* Links by default when selected*/
a:active {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
  font-weight:bold;
}

header {
  display: block;
  padding: 16px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}

header ul{
  list-style: none;
  text-align: center;
}

header li{
  display: inline-block;
  padding: 1.2rem;
}

header li:nth-of-type(1){
  color: #ddd;
}

/* Links for Navbar (using pseudo-class rules LVHA)*/
nav a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

/* Links for Navbar already visited*/
nav a:visited {
  color: #000000;
  background-color: #ddd;
  text-decoration: none;
}

/* Links for Navbar when hovering over the link with mouse*/
nav a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
  font-weight:bold;
}

/* Links for Navbar when selected*/
nav a:active {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
  font-weight:bold;
}

/* Dropdown content (hidden by default) when hovering over the button in the navbar*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px #f9f9f9; /*(in)set, horizontal, vertical, blur radius, color*/
}

/* Navbar container */
.navbar{
  overflow: hidden;
  display: flex;
  text-align: center;
}

/* Navbar container */
.horizontal{
  overflow: hidden;
  display: none;
}
  
/* Dropdown container */
.dropdown {
  align-items: center;
  overflow: hidden;
}
  
/* Dropdown button in the navbar*/
.dropdown .dropbtn {
  color: #000000;
  background-color: transparent;
  border: 0;
}

/* Dropdown button when hovering over the link in the navbar*/
.dropdown .dropbtn:hover {
  font-weight:bold;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
}
  
/* Dropdown menu header */
.dropdown-content .header {
  background: none;
  padding: 14px;
  color: #81d8d0;
}
  
/* Dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
/* Three columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 16px;
  background-color: none;
  height: 100%;
}
  
/* Dropdown column header */
.column .header {
  text-align: left;
  background: none;
  padding: 16px;
  color: #81d8d0;
}

/* Dropdown style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Dropdown visited links inside the columns */
column a:visited {
  color: #000000;
  background-color: #ddd;
  text-decoration: none;
}

/* Dropdown links on hover inside the columns */
.column a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #81d8d0;
  font-weight:bold;
  }
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Main */
#background{
  background-attachment: scroll, local;
  background-clip: content-box;
  background-image: url("../images/bg-01.png");
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

/* Section for organising the articles*/
section {
  display: flex;
  padding: 16px 0;
}

/* Content inside the section */
article {
  flex: 1;
  padding: 0 16px;
}

/* Article item list marker*/
article li::marker {
  color: #81d8d0;
  content: "○ ";
  font-size: 1.1em;
}

/* Box for wrapping content in evidence */
.wrap-search {
  background-clip:content-box;
  padding: 300px 100px;
  float:center;
  border-radius: 25px;
  block-size: fit-content;
  background-color: #f9f9f9;/*flex: 1 1 auto; flex-grow flex-shrink flex-basis*/
  overflow: hidden;
  border: 2px #ffffff;
}

/*
background-clip: content-box;
border-style:dotted;
padding: 50px;
float: center;
border-radius: 25px;
background-color: #f9f9f9; flex: 1 1 auto; flex-grow flex-shrink flex-basis
overflow: hidden;
border: 2px #ffffff;

.wrap-search:hover, .shadow:hover {
  color: 0 0 5px #dedede;
  box-shadow:
  0 0 5px #f9f9f9,
  0 0 10px #000000; /* 1-X-coordinate 2-Y-coordinate 3-Blur Radius 4-Shadow Color
}
*/

/* First image as background */
.background{
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  text-align: center;
  z-index: 2;
}

/* First letter bigger colourfull and in evidence */
.first-letter::first-letter { 
  font-family: "Della Respira", sans-serif, Helvetica, Arial;
  color:#81d8d0; 
  font-size: 1.3em; 
  font-weight: bold; 
  line-height: 1; 
}