.search-destination {
  box-sizing: border-box;
  margin: 16px;
  text-align: center;
}

input[type=text] {
  padding: 10px;
  font-size: 14px;
  height: 40px;
  width: 200px;
  color: #000000;
  background: #d4d4d4;
  border: 2px solid #d4d4d4;
  float: center;
}

button {
  padding: 10px;
  font-size: 14px;
  float: center;
  height: 40px;
  width: 60px;
  color: #000000;
  background: none;
  border: 0 solid #d4d4d4;
  border-left: none;
  cursor: pointer;
}

button:hover {
  background: #81d8d0;
  border: 2px solid #81d8d0;
}

button::after {
  content: "";
  clear: both;
  display: table;
}