---
import "../styles/search.css";
import "../styles/stickybar.css";

const { imageURL } = Astro.props;
---
<!--Search Destination-->
<div>
    <form class="search-destination" action="action_page.php">
        <p align-text="center"><i class="fa fa-map-marker" aria-hidden="true"></i>
        <br>WHERE ARE YOU GOING?</p>
        <input type="text" id="search" name="search" list="destination" required placeholder="Choose your destination">
        <datalist id="destination">
            <option value="Brazil"><a href="#brazil">Brazil</a></option>
            <option value="Ireland"><a href="#ireland">Ireland</a></option>
            <option value="Japan"><a href="#japan">Japan</a></option>
            <option value="Portugal"><a href="#portugal">Portugal</a></option>
        </datalist>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>   
    </form>
</div>

<!--Search by Eircode
<div class="search">
    <table>
        <tr>
            <h1>Find availability</h1>
            <td><input type="list" id="address-client" name="address-client" required><textarea alt="Your street name"> Your street name </textarea></td>
            <td><textarea alt="Start date"> Start date </textarea></td>
            <td><textarea alt="End date"> End date </textarea></td>
        </tr>
    </table>
</div>
-->