---
import Layout from '../layouts/LayoutBooking.astro';
import Map from '../components/MapAll.astro';
import NavBooking from '../components/NavBooking.astro';

const title = "H O T E L by N A K A T A";
const description = "IRELAND";
---

<Layout description={description} title={title}>
    <main class="booking_page">
        <div class="wrap-nav-booking" id="booking">
            <NavBooking />
        </div>
        <div class="wrap-calendar-booking" id="calendar">
            <img src="../images/calendar.png">
        </div>
    </main>
</Layout>

