---
import Layout from '../layouts/LayoutClean.astro';

const title = "H O T E L by N A K A T A";
const description = "IRELAND";
---

<Layout description={description} title={title}>
    <main class="background-dark">

        <div class="table table-responsive" id="hotel-list">
            <!-- Calculate total of found Hotels in this destination -->
            <script>
                let y = "EUROPE, ASIA AND AMERICA";
                let x = document.getElementById("destination").options.length;
                document.getElementById("total").innerHTML = " HOTEL IN " + y + " *Found total of  " + x + " properties" ;
            </script>
        
            <datalist id="destination">
                <option value="Dublin, Ireland"><a href="/">HOTEL GREEN</a></option>
                <option value="Galway, Ireland"><a href="/">HOTEL RED</a></option>
                <option value="Sao Paulo, Brazil"><a href="/">HOTEL YELLOW</a></option>
                <option value="Osaka, Japan"><a href="/">HOTEL WHITE</a></option>
                <option value="Tokyo, Japan"><a href="/">HOTEL BLACK</a></option>
            </datalist>

            <script>
            let html = document.getElementById("destination").innerHTML;
            document.getElementById("list").innerHTML = html;
            </script>

            <table class="table table-responsive" id="hotel-list">
                <!--
                <thead>
                    <tr>
                        <th scope="col">HOTEL</th>
                        <th scope="col">DETAILS</th>
                    </tr>
                </thead>
                -->
                <th colspan="6"> <i class="fa-solid fa-home"></i><span id="total" myFunction()>
                </th>
                <!-- Hotel 1 -->
                <tr id="none">
                        <!-- Column with picture -->
                        <td id="line" rowspan="3"><img src="images/green-room.png"></td>
                        <!-- Column with hotel info -->
                        <td>
                            <p><i class="fa-solid fa-location-pin"></i> Dublin, Ireland 
                            <br> HOTEL GREEN 
                            <br>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <br id="conveniences"> 
                            <i class="fas fa-swimming-pool"></i>
                            <i class="fa-solid fa-plane"></i> 
                            <i class="fa-solid fa-umbrella-beach"></i>
                            <i class="fa-solid fa-utensils"></i>
                        <!-- Column with description -->  
                        <td>                         
                            <table>
                                <tr>
                                    <td id="font-small"> Rating </td>
                                    <td rowspan="2">  </td>
                                    <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                                </tr>    
                                    <td id="font-tiny"> 1.000 Reviews </td>
                                </tr>
                                <tr id="font-small">
                                    <td colspan="3"> 
                                        <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                    </tr>
                                </table>     
                            <tr id="line" colspan="3" >
                                <td colspan="2" >                                
                                    <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                            </tr>
                        </td>
                    </tr>
                    <tr>
                    <!-- Hotel 2 -->
                    <tr id="none">
                    <!-- Column with picture -->
                        <td id="line" rowspan="3"><img src="images/pool.png"></td>
                        <td>
                            <p><i class="fa-solid fa-location-pin"></i> Galway, Ireland 
                            <br> HOTEL RED 
                            <br>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            <br id="conveniences"> 
                                <i class="fas fa-swimming-pool"></i>
                                <i class="fa-solid fa-plane"></i> 
                                <i class="fa-solid fa-umbrella-beach"></i>
                                <i class="fa-solid fa-utensils"></i>
                        </td>
                    </td>
                    <td>   
                        <table>
                            <tr>
                                <td id="font-small"> Rating </td>
                                <td rowspan="2">  </td>
                                <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                            </tr>    
                                <td id="font-tiny"> 1.000 Reviews </td>
                            </tr>
                            <tr id="font-small">
                                <td colspan="3"> 
                                    <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                </tr>
                            </table>    
                        <tr id="line" colspan="3">
                            <td colspan="2">                                
                                <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>
                            </td>                                      
                        </tr>
                    </td>
                </tr>
                <tr>
                <tr>
                    <!-- Hotel 3 -->
                    <tr id="none">
                        <td id="line" rowspan="3"><img src="images/yellow-room.png"></td>
                        <td>
                            <p><i class="fa-solid fa-location-pin"></i> Galway, Ireland 
                                <br> HOTEL YELLOW 
                            <br>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <br id="conveniences"> 
                            <i class="fas fa-swimming-pool"></i>
                            <i class="fa-solid fa-plane"></i> 
                            <i class="fa-solid fa-umbrella-beach"></i>
                            <i class="fa-solid fa-utensils"></i>
                        </td>
                    <td>   
                        <table>
                            <tr>
                                <td id="font-small"> Rating </td>
                                <td rowspan="2">  </td>
                                <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                            </tr>    
                                <td id="font-tiny"> 1.000 Reviews </td>
                            </tr>
                            <tr id="font-small">
                                <td colspan="3"> 
                                    <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                </tr>
                            </table>   
                            <tr id="line" colspan="3">
                                <td colspan="2">                                
                                    <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                            </tr>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                <!-- Hotel 4 -->
                <tr id="none">
                    <!-- Column with picture -->
                    <td id="line" rowspan="3"><img src="images/green-room.png"></td>
                    <!-- Column with hotel info -->
                    <td>
                        <p><i class="fa-solid fa-location-pin"></i> Dublin, Ireland 
                        <br> HOTEL BLUE
                        <br>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <br id="conveniences"> 
                        <i class="fas fa-swimming-pool"></i>
                        <i class="fa-solid fa-plane"></i> 
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <i class="fa-solid fa-utensils"></i>
                    <!-- Column with description -->  
                    <td>                         
                        <table>
                            <tr>
                                <td id="font-small"> Rating </td>
                                <td rowspan="2">  </td>
                                <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                            </tr>    
                                <td id="font-tiny"> 1.000 Reviews </td>
                            </tr>
                            <tr id="font-small">
                                <td colspan="3"> 
                                    <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                </tr>
                            </table>     
                        <tr id="line" colspan="3" >
                            <td colspan="2" >                                
                                <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>  
                            </td>                                                     
                        </tr>
                    </td>
                </td>
            </tr>
            <tr>
            <tr>

                                 <!-- Hotel 5 -->
                                 <tr id="none">
                                    <!-- Column with picture -->
                                    <td id="line" rowspan="3"><img src="images/green-room.png"></td>
                                    <!-- Column with hotel info -->
                                    <td>
                                        <p><i class="fa-solid fa-location-pin"></i> Osaka, Japan 
                                        <br> HOTEL WHITE 
                                        <br>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <br id="conveniences"> 
                                        <i class="fas fa-swimming-pool"></i>
                                        <i class="fa-solid fa-plane"></i> 
                                        <i class="fa-solid fa-umbrella-beach"></i>
                                        <i class="fa-solid fa-utensils"></i>
                                    <!-- Column with description -->  
                                    <td>                         
                                        <table>
                                            <tr>
                                                <td id="font-small"> Rating </td>
                                                <td rowspan="2">  </td>
                                                <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                                            </tr>    
                                                <td id="font-tiny"> 1.000 Reviews </td>
                                            </tr>
                                            <tr id="font-small">
                                                <td colspan="3"> 
                                                    <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                                </tr>
                                            </table>     
                                        <tr id="line" colspan="3" >
                                            <td colspan="2" >                                
                                                <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                                        </tr>
                                    </td>
                                </tr>
                                <tr>
                                <!-- Hotel 6 -->
                                <tr id="none">
                                <!-- Column with picture -->
                                    <td id="line" rowspan="3"><img src="images/pool.png"></td>
                                    <td>
                                        <p><i class="fa-solid fa-location-pin"></i> Tokyo, Japan
                                        <br> HOTEL BLACK
                                    <!-- Column with description -->  
                                        <br>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        <br id="conveniences"> 
                                            <i class="fas fa-swimming-pool"></i>
                                            <i class="fa-solid fa-plane"></i> 
                                            <i class="fa-solid fa-umbrella-beach"></i>
                                            <i class="fa-solid fa-utensils"></i>
                                    </td>
                                </td>
                                <td>   
                                    <table>
                                        <tr>
                                            <td id="font-small"> Rating </td>
                                            <td rowspan="2">  </td>
                                            <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                                        </tr>    
                                            <td id="font-tiny"> 1.000 Reviews </td>
                                        </tr>
                                        <tr id="font-small">
                                            <td colspan="3"> 
                                                <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                            </tr>
                                        </table>    
                                    <tr id="line" colspan="3">
                                        <td colspan="2">                                
                                            <button><a href="../hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                                        </td>                                      
                                    </tr>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                </tbody>
            </table>
        </div>
    </main>
</Layout>

