---
import Layout from '../layouts/LayoutMap.astro';
import Map from '../components/MapJapan.astro';

const title = "H O T E L by N A K A T A";
const description = "JAPAN";
---

<Layout description={description} title={title}>
    <main>
        <div class="wrap-map" id="map">
            <Map />
        </div>

        <div >         
            <iframe id="frame-list" src="../hotel-japan-list"></iframe>
        </div>

    </main>
</Layout>

