---
import Layout from '../layouts/LayoutBasic.astro';
import Map from '../components/MapIE.astro';

const title = "H O T E L by N A K A T A";
const description = "IRELAND";
---

<Layout description={description} title={title}></Layout>
<table class="table table-responsive" id="hotel-list">
  <!--
  <thead>
      <tr>
          <th scope="col">HOTEL</th>
          <th scope="col">DETAILS</th>
      </tr>
  </thead>
  -->
  <th colspan="6"> <i class="fa-solid fa-home"></i><span id="total" myFunction()>
    Hotel Red is a boutique hotel located in the heart of Galway City, 
                      Ireland's vibrant cultural hub. The hotel's 40 rooms and suites are designed to provide a unique and intimate
                      experience. The hotel is also close to many of Galway's top attractions,
                      including the Latin Quarter, Eyre Square, and the famous Salthill Promenade. 
                      With its stunning architecture, lively atmosphere, and warm hospitality, Hotel Red is the perfect place to experience the charm of Galway City.
       <br>   <br>           
  </th>
<!-- Hotel Red -->
                <tr>
                  <!-- Column with picture -->
                      <td rowspan="3"><img src="images/pool.png" alt="hotel red image"></td>
                      <td><i class="fa-solid fa-location-pin"></i> Galway, Ireland <br><br> HOTEL RED 
                      <br>
                          <i class="fa-regular fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                          <i class="fa-regular fa-star"></i>
                      <br id="conveniences"> 
                          <i class="fas fa-swimming-pool"></i>
                          <i class="fa-solid fa-plane"></i> 
                          <i class="fa-solid fa-umbrella-beach"></i>
                          <i class="fa-solid fa-utensils"></i>
                      </td>
                  </td>
                  <td>   
                      <table>
                          <tr>
                              <td id="font-small"> Rating </td>
                              <td rowspan="2">  </td>
                              <td rowspan="2" id="img-rating"> 9.0 </td>
                          </tr>    
                              <td id="font-tiny"> 1.000 Reviews </td>
                          </tr>
                          <tr></tr>
                          <tr id="font-small">
                              <td colspan="3"> From <br><span id="font-bold"> EUR 100.00 </span><br>per night<br><br>
                          </tr>
                 
                      </table>   
                      <tr colspan="3">
                          <td colspan="2">                                
                              <button> VIEW RATES</button>
                          </td>                                      
                      </tr>
                  </td>
              </tr>
              <tr>
              <tr>
              </tbody>
          </table>
      </div>
    </table>
<Layout />