---
import Layout from '~/layouts/LayoutClean.astro';

const title = "H O T E L by N A K A T A";
const description = "JAPAN";
---

<Layout description={description} title={title}>
    <main class="background-dark">
        <div class="table table-responsive" id="hotel-list">
            <!-- Calculate total of found Hotels in this destination -->

            <datalist id="destination">
                <option value="Osaka, Japan"><a href="#">HOTEL WHITE</a></option>
                <option value="Tokyo, Japan"><a href="#">HOTEL BLACK</a></option>
            </datalist>
            
            <script>
                let y = "JAPAN";
                let x = document.getElementById("destination").options.length;
                document.getElementById("total").innerHTML = " HOTEL IN " + y + " *Found total of  " + x + " properties" ;
            </script>

            <script>
            let html = document.getElementById("destination").innerHTML;
            document.getElementById("list").innerHTML = html;
            </script>

            <table class="table table-responsive" id="hotel-list">
                <!--
                <thead>
                    <tr>
                        <th scope="col">HOTEL</th>
                        <th scope="col">DETAILS</th>
                    </tr>
                </thead>
                -->
                <th colspan="6"> <i class="fa-solid fa-home"></i><span id="total" myFunction()>
                </th>
                 <!-- Hotel 5 -->
                 <tr id="none">
                    <!-- Column with picture -->
                    <td id="line" rowspan="3"><img src="/hotel/images/green-room.png"></td>
                    <!-- Column with hotel info -->
                    <td>
                        <p><i class="fa-solid fa-location-pin"></i> Osaka, Japan 
                        <br> HOTEL WHITE 
                        <br>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <br id="conveniences"> 
                        <i class="fas fa-swimming-pool"></i>
                        <i class="fa-solid fa-plane"></i> 
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <i class="fa-solid fa-utensils"></i>
                    <!-- Column with description -->  
                    <!--<br> Hotel Green is a stylish and modern hotel located 
                    in the heart of Dublin, Ireland. The hotel boasts 138 luxurious rooms and suites, each equipped with comfortable beds, 
                    flat-screen TVs, and complimentary Wi-Fi. Guests can enjoy stunning views of the city from many 
                    of the rooms, and amenities include a 24-hour fitness center, spa, and business center.
                    -->
                    <td>                         
                        <table>
                            <tr>
                                <td id="font-small"> Rating </td>
                                <td rowspan="2">  </td>
                                <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                            </tr>    
                                <td id="font-tiny"> 1.000 Reviews </td>
                            </tr>
                            <tr id="font-small">
                                <td colspan="3"> 
                                    <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                                </tr>
                            </table>     
                        <tr id="line" colspan="3" >
                            <td colspan="2" >                                
                                <button><a href="/hotel/hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                        </tr>
                    </td>
                </tr>
                <tr>
                <!-- Hotel 6 -->
                <tr id="none">
                <!-- Column with picture -->
                    <td id="line" rowspan="3"><img src="/hotel/images/pool.png"></td>
                    <td>
                        <p><i class="fa-solid fa-location-pin"></i> Tokyo, Japan
                        <br> HOTEL BLACK
                        <!--<br> Hotel Red is a boutique hotel located in the heart of Galway City, 
                        Ireland's vibrant cultural hub. The hotel's 40 rooms and suites are designed to provide a unique and intimate
                        experience. The hotel is also close to many of Galway's top attractions,
                        including the Latin Quarter, Eyre Square, and the famous Salthill Promenade. 
                        With its stunning architecture, lively atmosphere, and warm hospitality, Hotel Red is the perfect place to experience the charm of Galway City.
                        -->
                        <br>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        <br id="conveniences"> 
                            <i class="fas fa-swimming-pool"></i>
                            <i class="fa-solid fa-plane"></i> 
                            <i class="fa-solid fa-umbrella-beach"></i>
                            <i class="fa-solid fa-utensils"></i>
                    </td>
                </td>
                <td>   
                    <table>
                        <tr>
                            <td id="font-small"> Rating </td>
                            <td rowspan="2">  </td>
                            <td rowspan="2" id="img-rating">&nbsp 9.0 </td>
                        </tr>    
                            <td id="font-tiny"> 1.000 Reviews </td>
                        </tr>
                        <tr id="font-small">
                            <td colspan="3"> 
                                <br><br>From<br><span id="font-bold"> EUR 100.00 </span><br>per night<br>
                            </tr>
                        </table>    
                    <tr id="line" colspan="3">
                        <td colspan="2">                                
                            <button><a href="/hotel/hotel-rates" target="_parent">VIEW RATES</a></button>                                </td>                                      
                        </td>                                      
                    </tr>
                </td>
            </tr>
            <tr>
            <tr>

                </tbody>
            </table>
        </div>
    </main>
</Layout>

