---
import Layout from '../layouts/LayoutBooking.astro';
import Map from '../components/MapIreland.astro';

const title = "H O T E L by N A K A T A";
const description = "IRELAND";
---

<Layout description={description} title={title}></Layout>
<main>
    HOTEL DETAILS

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet fermentum justo. Mauris in tempor enim. Cras varius tellus id lectus tincidunt, non convallis quam tincidunt. Fusce eget sollicitudin leo. Maecenas gravida hendrerit eros, non finibus enim vehicula at. Integer efficitur elementum justo, vel consequat turpis finibus eget. Etiam pulvinar dignissim libero, sit amet molestie augue commodo blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique ornare varius. Proin auctor lorem sed nisl fringilla, rutrum mollis nisi lacinia. Morbi varius lacinia ligula et rutrum. Duis ex nulla, molestie ut sapien id, sollicitudin maximus mauris. Vestibulum porta magna odio, in feugiat magna tempor vel. Mauris in blandit arcu, vel eleifend enim. Proin sed convallis nunc, a dictum arcu.

Sed vehicula vitae eros quis accumsan. Aenean vulputate maximus ornare. Sed mattis faucibus nunc eu scelerisque. Mauris ultrices vitae dui ac iaculis. Pellentesque suscipit placerat dolor quis convallis. Integer quis ipsum nec massa placerat vulputate. In quis lacus vel libero pretium venenatis quis vitae turpis. Suspendisse congue, orci ut bibendum pulvinar, nisl mi suscipit arcu, non ullamcorper odio orci quis nisl. Aenean justo nibh, convallis sit amet venenatis in, lobortis sed libero. Nulla ultrices ullamcorper diam, non pulvinar quam viverra et. Quisque ut urna non erat eleifend maximus. Nunc mattis leo et nibh maximus, non feugiat nibh faucibus.
</main>
<Layout />