---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "H O T E L";
const description = "Homepage for my First Astro Project";
---
<BaseLayout description={description} title={title}>
	<main>
		<p>The <slot /> element from the layout is replaced with the content from index.astro.</p>
	</main>
</BaseLayout>
