---
const { title } = Astro.props;
---
<!--Footer-->
<footer>
<p>Footer</p>	
<footer class="student-details">
	<p>UCD Project</p>
	<p>Course 24-03 Front-End Web Development</p>
	<p>Student Cristiane Nakata</p>
</footer>