---
import logoImage from '~/assets/logo.png'; 
---

<!--Header-->
<header>
  <div class="logo">
    <a href={"/hotel/about-us"}><img src={logoImage.src}></a>
  </div>

  <div class="icon-mobile" id="right">
    <a href="#"><i class="fa-regular fa-user fa-xl"></i></a>
  </div>

  <div class="icon-mobile" id="right">
    <a href="#"><i class="fa-solid fa-globe fa-xl"></i></a>
  </div>


</header>
