---
const { title } = Astro.props;
---
<!--Header-->
<header>
  <nav class="main-header">
      <div class="main-logo"><img class="logo" src="../images/logo.png"></image></div>
      <div class="main-menu link1"><a href="../page-1-how/">How it works</a><div>
      <div class="main-menu link2"><a href="../page-2-become/">Become a Babysitter</a><div>
      <div class="main-menu link3"><a href="../page-3-join/">Join to book</a><div>  
  </nav>
</header>