<script>
  import L from 'Leaflet';
  var map = L.map('map').setView([51.505, -0.09], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
</script>

<script>
  import * as maptilersdk from '@maptiler/sdk';
  maptilersdk.config.apiKey = 'hhyINLMnMg5pSBBIII0T';
  const map = new maptilersdk.Map({
    container: 'map', // container's id or the HTML element to render the map
    style: maptilersdk.MapStyle.STREETS,
    center: [16.62662018, 49.2125578], // starting position [lng, lat]
    zoom: 14, // starting zoom
  });
</script>

<script>
  const key = 'hhyINLMnMg5pSBBIII0T';
  const map = L.map('map').setView([53.34, -7], 6);
  const mtLayer = L.maptilerLayer({
    apiKey: key,
    style: "63c60a0d-9669-4cb8-84ec-4fe500d50d8c", //optional
  }).addTo(map);
  
  var circle = L.circle([53.34, -6.26], {
    color: 'orange',
    radius: 50000,
  }).addTo(map);
  circle.bindPopup("Dublin");
  
  var circle = L.circle([53.27, -9.05], {
    color: 'orange',
    radius: 50000,
  }).addTo(map);
  circle.bindPopup("Galway");
</script>