<!-- Nav to be shown on Desktop screen as a Bar (with Head hidden) -->
<script>
  /* Toggle between adding and removing the "responsive" class to navbar when the user clicks on the menu icon */
  function ChangeNavbar() {
    var x = document.getElementById("nav-vertical");
    if (x.className === "nav") {
      x.className += " responsive";
    } else {
      x.className = "nav";
    }
  }
  </script>
  
  <nav>
    <div id="nav" role="navigation">
      <a href="#nav" title="Show navigation">Show navigation</a>
      <a href="#" title="Hide navigation">Hide navigation</a>
    <ul>  
      <li class="logo">
        <a href="/hotel/about-us"><img src="/hotel/images/logo.png"></a>
      </li>
      <li class="nav-item" id="none-mobile">
        <a href="#"><i class="fa-solid fa-globe" aria-hidden="true"></i> ENGLISH</a>
      </li>
      <li class="nav-item">
        <a href="#"><i class="fa-regular fa-calendar" aria-hidden="true"></i> MY BOOKINGS</a>
      </li>
      <li class="nav-item" id="none-mobile">
        <a href="#"><i class="fa-regular fa-user" aria-hidden="true"></i> SIGN IN</a>
      </li>
    </ul>
  </div>
  </nav>
