<!--NavBar with items for specific search-->

<script>
  /* Toggle between adding and removing the "responsive" class to navbar when the user clicks on the menu icon */
  function ChangeNavbar() {
    var x = document.getElementById("nav-vertical");
    if (x.className === "nav") {
      x.className += " responsive";
    } else {
      x.className = "nav";
    }
  }
  </script>
  
  <nav>
    <div id="nav" role="navigation">
      <a href="#nav" title="Show navigation">Show navigation</a>
      <a href="#" title="Hide navigation">Hide navigation</a>
    <ul class="navbar">
        <a href="../about_us"><img src="../images/logo.png"></a>

      <li class="nav-item">
        <a href="/"><i class="fa-solid fa-globe"></i> ENGLISH</a>
      </li>
      <li class="nav-item">
        <a href="/"><i class="fa-regular fa-calendar" aria-hidden="true"></i> MY BOOKINGS</a>
      </li>
      <li class="nav-item">
        <a href="/"><i class="fa-regular fa-user" aria-hidden="true"></i> SIGN IN</a>
      </li>
    </ul>
  </div>
  </nav>
