<!--Search Destination Box-->
<div class="search-destination">  
  <p style="text-align: center;"><i class="fa fa-map-marker" aria-hidden="true"></i><br>WHERE ARE YOU GOING?</p>
    <input id="destination-input" list="destination" type="text" required="" placeholder="Choose your destination">
      <datalist id="destination" >
        <option><a href="geo:-14.24,-53.18">Brazil</a></option>
        <option><a href="geo:52.86,-7.97;">Ireland</a></option>
        <option><a href="geo:36.57,139.23">Japan</a></option>
        <option><a href="geo:39.66,-8.135">Portugal</a></option>
      </datalist>
    </input>
  <!--See Full Map-->
  <div class="open-map"> See full map 
    <button onclick="document.location='../hotel-all'">
      <i class="fa-regular fa-map" aria-hidden="true"></i>
    </buton>
  </div>
</div>

<script>
 document.getElementById('destination-input').addEventListener('change', function() {
    console.log("change event", this.value);
    const selectedValue = this.value;
    let place = selectedValue.toLowerCase();
    window.location.href = "../hotel-" + place;
  });
</script>
